Influence of

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import files
uploaded = files.upload();

Saving toothpaste.csv to toothpaste (1).csv

In [ ]:
df = pd.read_csv('toothpaste.csv')

In [ ]:
df.head(7)

                         Timestamp  ... WHICH TOOTHPASTE BRAND DO YOU USE AND PREFER THE MOST
0   2021/06/04 9:30:11 pm GMT+5:30  ...                                          SENSODYNE
1   2021/06/05 1:22:36 am GMT+5:30  ...                                            COLGATE
2   2021/06/05 5:26:08 am GMT+5:30  ...                                          SENSODYNE
3   2021/06/05 7:02:04 am GMT+5:30  ...                                          SENSODYNE
4   2021/06/05 7:05:02 am GMT+5:30  ...                                            COLGATE
5   2021/06/05 7:19:58 am GMT+5:30  ...                                            COLGATE
6  2021/06/05 10:55:42 am GMT+5:30  ...                                            COLGATE

[7 rows x 22 columns]

In [ ]:
df

                           Timestamp  ... WHICH TOOTHPASTE BRAND DO YOU USE AND PREFER THE MOST
0     2021/06/04 9:30:11 pm GMT+5:30  ...                                          SENSODYNE
1     2021/06/05 1:22:36 am GMT+5:30  ...                                            COLGATE
2     2021/06/05 5:26:08 am GMT+5:30  ...                                          SENSODYNE
3     2021/06/05 7:02:04 am GMT+5:30  ...                                          SENSODYNE
4     2021/06/05 7:05:02 am GMT+5:30  ...                                            COLGATE
..                               ...  ...                                                ...
107  2021/06/06 11:13:12 am GMT+5:30  ...                                            COLGATE
108  2021/06/06 12:35:39 pm GMT+5:30  ...                                              DABUR
109  2021/06/06 12:44:22 pm GMT+5:30  ...                                            COLGATE
110   2021/06/06 4:04:46 pm GMT+5:30  ...                                          SENSODYNE
111  2021/06/12 12:21:13 am GMT+5:30  ...                                          SENSODYNE

[112 rows x 22 columns]

In [ ]:
df.describe()

        Do you use toothpaste REGULARLY  ...  TOOTHPASTE IS AN IMPORTANT HOUSEHOLD COMMODITY
count                        112.000000  ...                                      112.000000
mean                           4.678571  ...                                        4.357143
std                            0.892555  ...                                        0.975900
min                            1.000000  ...                                        1.000000
25%                            5.000000  ...                                        4.000000
50%                            5.000000  ...                                        5.000000
75%                            5.000000  ...                                        5.000000
max                            5.000000  ...                                        5.000000

[8 rows x 15 columns]

In [ ]:
df[' Do you use toothpaste REGULARLY'].value_counts()

5    96
4     6
2     6
3     2
1     2
Name:  Do you use toothpaste REGULARLY, dtype: int64

In [ ]:
df['DO YOU BRUSH MORE THAN ONCE IN A DAY'].value_counts()

3    35
5    34
4    27
2     9
1     7
Name: DO YOU BRUSH MORE THAN ONCE IN A DAY, dtype: int64

In [ ]:
df['GENDER'].value_counts()

Male      63
Female    49
Name: GENDER, dtype: int64